:host {
  display: block;
}

.main-container {
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-color);
}

.form-container{
  height: 100%;
  display: flex ;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}
