:host {
  display: block;
}


form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
mat-form-field {
  width: 300px;
}
.formLayout{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
mat-card{
  margin: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
mat-card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 20px;
}
mat-card-header >*{
  font-size: 20px;
  width: 100%;
  text-align: center;
}
mat-card-content{
  align-items: center;
  justify-content: center;
}
mat-card{
  margin: 20px;

}