<div className="mainContainer">
        <mat-drawer-container class="example-container">
            <mat-drawer class="navBar" mode="side" opened>
                <mat-nav-list>                   
                    <mat-list-item [routerLink]="['/users/dashboard/dptos']">
                        <mat-icon matListItemIcon>apartment</mat-icon>
                        <div matListItemTitle>Departamentos</div>
                        
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/users/dashboard/nots']">
                        <mat-icon matListItemIcon>notifications</mat-icon>
                        <div matListItemTitle>Notificaciones</div>
                        
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/users/dashboard/pagos']">
                        <mat-icon matListItemIcon>payment</mat-icon>
                        <div matListItemTitle>Pagos</div>
                        
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/users/dashboard/reportes']">
                        <mat-icon matListItemIcon>report</mat-icon>
                        <div matListItemTitle>Reportes</div>
                        
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/users/dashboard/estadisticas']">
                        <mat-icon matListItemIcon>insert_chart</mat-icon>
                        <div matListItemTitle>Estadisticas</div>
                        
                    </mat-list-item>
                    
                </mat-nav-list>
            </mat-drawer>

            <mat-drawer-content class="content">
                <router-outlet></router-outlet>
            </mat-drawer-content>
        </mat-drawer-container>

    
</div>



