:host {
  display: block;
}

.main-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex: 1 1 auto;
  position: sticky;
  top: 0;
}
mat-list{
  min-width: 300px;
  padding: 16px 8px;
  height: calc(100vh - 75px);
  overflow: auto;
  box-sizing: border-box;

}
admin-pago-panel{
  padding: 16px 8px;
  height: calc(100vh - 75px);
  max-height: calc(100vh - 75px);
  width: calc(100vw - 437px);
  width: calc(100vw - 520px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;

}
